/* General style */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

:root {
    --white: #FFF;
    --black: #000;
    --bodyBackground: #F9F9F9;
    --centerBtnBorder: #D3D3D3;
    --centerBtnBackground: #F0F0F0;
    --rightBtnSign: #065FD4;
    --subscribeBtn: #CC0000;
}

body {
    font-size: 10px;
    font-family: Arial, sans-serif;
    background: var(--bodyBackground);
    color: var(--black);
}
    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header"
            "main aside"
            "main aside";
    }

/* Header */
.header {
    grid-area: header;
    background: var(--white);
    height: 3.5em;
    font-size: 1.6em;
    padding: 0 1em;
}
    .navigationFlex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .header__nav {
        justify-content: space-between;
        height: 3.5em;
    }
        .header__nav__btn {
            border: none;
            background: none;
            outline: none;
        }
            .header__nav__btn--svg {height: 1.5em;}
    
        .header__nav__left {
            justify-content: flex-start;
            min-width: 13em;
        }
            .leftYt {padding-left: 1em;}

        .header__nav__center {
            width: 45em;
            max-width: 100%;
            height: 2em;
            justify-content: flex-end;
        }
            .header__nav__center__inputBox {
                width: 80%;
                max-width: 100%;
                height: 100%;
            }
                .centerInput {
                    border: .1em solid var(--centerBtnBorder);
                    border-right-color: transparent;
                    border-radius: .2em 0 0 .2em;
                    width: 100%;
                    height: 100%;
                    padding-left: .7em;
                }

            .header__nav__center__btnBox {
                border: .1em solid var(--centerBtnBorder);
                border-radius: 0 .2em .2em 0;
                background: var(--centerBtnBackground);
                width: 4em;
                height: 100%;
                text-align: center;
            }
                .centerSearch {
                    opacity: .4;
                    font-size: .8em;
                    margin-top: .3em;
                }
            
            .header__nav__center__micBox {padding: .2em .5em 0;}
        
        .header__nav__right {
            justify-content: flex-end;
            min-width: 13em;
        }
            .rightBtnBar {margin: 0 1em;}

            .rightBtnSign {
                border: .1em solid var(--rightBtnSign);
                border-radius: .2em;
                color: var(--rightBtnSign);
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                font-size: .9em;
                font-weight: bold;
                padding: .7em .6em;
            }

/* Main */
.main {
    grid-area: main;
    margin: 2.5em 2.5em 0 3.5em;
    font-family: Roboto, Arial, sans-serif;
}
    .mainFlex {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
        .main__figure--iframe {
            width: 100%;
            height: 35vw;
            max-height: 100%;
        }
    
    .main__info {
        border-bottom: .1em solid #E0E0E0;
        padding: 1em 0 0em;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-between;
    }
        .main__info--heading {
            font-size: 1.8em;
        }

        .main__info--subheading {
            font-size: 1.4em;
            opacity: .6;
            padding-bottom: 1.5em;
        }

        .main__info__secondary {
            font-size: 1.4em;
        }
            .main__info__secondary__likes {
                border-bottom: .15em solid #909090;
                align-items: center;
                justify-content: space-between;
                width: 10.5em;
                padding: .9em .5em;
                
            }
                .main__info__secondary__likes--img {
                    width: 1.7em;
                    opacity: .5;
                }

                .main__info__secondary__likes--text {
                    opacity: .6;
                    padding-left: .3em;
                    font-weight: bold;
                }
            
            .main__info__secondary__options {
                width: 15em;
                justify-content: space-between;
                margin-left: 1em;
            }
                .main__info__secondary__options--svg {
                    height: 1.7em;
                    opacity: .5;
                }

                .main__info__secondary__options--text {
                    font-weight: bold;
                    opacity: .6;
                    margin-left: .5em;
                }
